@use "/src/styles/common" as *;
@use "/src/styles/variables" as *;

.signin-page-background {
    position: absolute;
    inset: 0;
    z-index: -9999;

    background: linear-gradient(270deg, #FB9600, #FFDC3E);

    &::before {
        position: absolute;
        inset: 0;
        z-index: -9998;

        background: url('/src/svg/signin-page-background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;

        content: "";
    }
}

.signin-page-container {
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: $flex-gap;
    align-items: center;
    justify-items: stretch;

    width: 400px;

    position: absolute;
    top: calc(50% - (542px / 2)); // half of height
    left: calc(50vw - 200px);

    background-color: transparent;
}

.signin-page-logo-container {
    display: flex;
    flex-direction: column;
    gap: $flex-gap;
    align-items: center;

    left: calc(50vw - (170px / 2));
    top: 8vh;

    display: flex;
    flex-direction: row;
    gap: $flex-gap;

    width: min-content;

    background-color: transparent;

    * {
        background-color: transparent;
    }
}

.signin-container {
    $flex-gap: 22px;
    display: flex;
    flex-direction: column;
    gap: $flex-gap;

    height: 100%;
    padding: 30px;

    border: $border;
    border-radius: $border-radius;

    background-color: $background-color;
    box-shadow: $shadow;

    text-align: center;

    * {
        line-height: 1.3;
    }
}

@media screen and (max-width: 400) {
    .signin-page-container {
        width: auto;

        inset: 0;
        top: 10%;
    }

    .signin-container {
        margin: auto;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}